{% for social in socials %}
  {% if social.url %}
    <a href="{{ social.url }}">
      {% if social.text %}
        {{ social.text }}
      {% else %}
        <i class="fa fa-{{ social.icon }}"></i>
      {% endif %}
    </a>
    {% if not loop.last %}
    &nbsp;&nbsp;·&nbsp;&nbsp;
    {% endif %}
  {% endif %}
{% endfor %}
